/* page bg */
.body {
    background-color: #dfd0b0;
}

/* title page container */
.title-page-container {
    margin-bottom: 10%;
}

.title-image {
    width: 100%;
    display: block;
    margin: 0 auto;
}


